//- =========================================================================================
	File Name: add-on-image-cropper.pug
	Description: Image Cropper
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

extends template

block pageVars
	- var pageTitle = "Image Cropper"
	- var pageSubTitle = "jQuery image cropping plugin"
	- var description = "A simple jQuery image cropping plugin."
	- var activeMenu = "add-on-image-cropper"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Image Cropper"}])

//- Include page content in page block
append content
	include ../contents/add-on-image-cropper.html

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/extensions/cropper.min.js', type='text/javascript')

//- Page CSS
//------------------------------
//- Add page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/images/cropper/cropper.css')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/extensions/image-cropper.js', type='text/javascript')