//- =========================================================================
	File Name: color-palette-red.pug
	Description:  Bootstrap 4 Red Color Palette
	--------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================

extends template

block pageVars
	- var pageTitle   = "Red Color Page"
	- var pageSubTitle = "Red Color Options"
	- var description  = "Red Color Palette with background & border color."
	- var activeMenu  = "color-palette-red"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Color System"}, {name:"Red Palette"}])

//- Include page content in page block
append content
	include ../contents/color-palette-red.html