//- =========================================================================
	File Name: color-palette-pink.pug
	Description:  Bootstrap 4 Pink Color Palette
	--------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================

extends template

block pageVars
	- var pageTitle   = "Pink Color Page"
	- var pageSubTitle = "Pink Color Options"
	- var description  = "Pink Color Palette with background & border color."
	- var activeMenu  = "color-palette-pink"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Color System"}, {name:"Pink Palette"}])

//- Include page content in page block
append content
	include ../contents/color-palette-pink.html