//- =========================================================================================
	File Name: component-pills-component.pug
	Description: Advance cards
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

extends template

block pageVars
	- var pageTitle   = "Pills"
	- var pageSubTitle = "Basic Bootstrap Pills"
	- var description = "Navigation available in Bootstrap share general markup and styles, from the base .nav class to the active and disabled states. Swap modifier classes to switch between each style."
	- var activeMenu  = "component-pills-component"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Components"}, {name:"Pills"}])

//- Include page content in page block
append content
	include ../contents/component-pills-component.html