//- =========================================================================================
	File Name: ex-component-sweet-alerts.pug
	Description: Sweet Alerts
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Sweet Alerts"
	- var pageSubTitle = "Replacement for javascript's 'alert'"
	- var description  = "A BEAUTIFUL REPLACEMENT FOR JAVASCRIPT'S 'ALERT'"
	- var activeMenu   = "ex-component-sweet-alerts"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Extra Components"}, {name:"Sweet Alerts"}])



//- Include page content in page block
append content
	include ../contents/ex-component-sweet-alerts.html

//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/extensions/sweetalert.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/vendors/js/extensions/sweetalert.min.js', type='text/javascript')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/extensions/sweet-alerts.js', type='text/javascript')