//- =========================================================================================
	File Name: footer-light.pug
	Description: The light color footer with custom light color options & other styling options.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Footer Light"
	- var pageSubTitle = "Light color footer"
	- var description  = "The light color footer with custom light color options & other styling options."
	- var activeMenu   = "footer-light"



append footerConfig
	- var footerColor = "footer-light"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Footer"}, {name:"Footer Light"}])

//- Include page content in page block
append content
	include ../contents/footer-light.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript' ,src=app_assets_path + '/vendors/js/ui/prism.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs