//- =========================================================================================
	File Name: form-selectivity.pug
	Description: Modular and light-weight selection library.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

extends template

block pageVars
	- var pageTitle = "Selectivity select"
	- var pageSubTitle = "Diffrent elements and styles of Selectivity."
	- var description  = "Modular and light-weight selection library"
	- var activeMenu = "form-selectivity"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Form Components"}, {name:"Selectivity select "}])



//- Include page content in page block
append content
	include ../contents/form-selectivity.html

append vendorcss
	//- Selectivity CSS
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/forms/selects/selectivity-full.min.css')

append vendorjs
	//- Selectivity Main JS
	script(src=app_assets_path + '/vendors/js/forms/select/selectivity-full.min.js', type='text/javascript')

append pagejs
	//- Template JS for Selectivity
	script(src=app_assets_path + '/js/scripts/forms/select/form-selectivity.js', type='text/javascript')

append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/forms/selectivity/selectivity.css')
