//- =========================================================================================
	File Name: form-dual-listbox.pug
	Description: Bootstrap Dual Listbox
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

extends template

block pageVars
	- var pageTitle = "Dual Listbox"
	- var pageSubTitle = "Works on all modern browsers and on touch devices."
	- var description  = "Bootstrap Dual Listbox is a responsive dual listbox widget optimized for Twitter Bootstrap."
	- var activeMenu = "form-dual-listbox"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Form Components"}, {name:"Dual Listbox"}])



//- Include page content in page block
append content
	include ../contents/form-dual-listbox.html

append vendorcss
	//- Dual Listbox css
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/forms/listbox/bootstrap-duallistbox.min.css')

append vendorjs
	//- Dual Listbox for Bootstrap JS
	script(src=app_assets_path + '/vendors/js/forms/listbox/jquery.bootstrap-duallistbox.min.js', type='text/javascript')

append pagejs
	//- Template Js for Duallistbox
	script(src=app_assets_path + '/js/scripts/forms/listbox/form-duallistbox.js', type='text/javascript')

append pagecss
	//- Dual listbox customization
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/forms/dual-listbox.css')
