//- =========================================================================================
	File Name: form-layout-form-actions.pug
	Description: form actions
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

extends template

block pageVars
	- var pageTitle = "Form Actions"
	- var pageSubTitle = "Form Actions Layout"
	- var description = "You have 6 options to display form actions. You can always add more stuff like form sections, form control borders, tooltips, icons, round form controls, square form controls."
	- var activeMenu = "form-layout-form-actions"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Form Layouts"}, {url:"#",name:"Form Actions"}])



//- Include page content in page block
append content
	include ../contents/form-layout-form-actions.html