//- =========================================================================================
	File Name: form-input-grid.pug
	Description: All input grids with offsets.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	========================================================================================== 

extends template

block pageVars
	- var pageTitle = "Input Grid"
	- var pageSubTitle = "A powerful mobile-first grid system"
	- var description  = "Fileds to display within the grids and also using offsets."
	- var activeMenu = "form-input-grid"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Form Components"}, {name:"Input Grid"}])



//- Include page content in page block
append content
	include ../contents/form-input-grid.html