//- =========================================================================================
	File Name: form-layout-horizontal.pug
	Description: Bootstrap 4 horizontal forms with examples
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

extends template

block pageVars
	- var pageTitle = "Horizontal Forms"
	- var pageSubTitle = "Horizontal Form Layout"
	- var description = "Horizontal Forms labels have inline styling where form controls are in the same line as its label. Add .form-horizontal class to the form tag to have horizontal form styling. You can always add more stuff like form sections, form control borders, tooltips, icons, round form controls, square form controls."
	- var activeMenu = "form-layout-horizontal"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Form Layouts"}, {url:"#",name:"Horizontal Forms"}])



//- Include page content in page block
append content
	include ../contents/form-layout-horizontal.html