//- =========================================================================================
	File Name: horizontal-nav-styling.pug
	Description: The navbar styling options provides navbar customization such as border, shadow, 
				position and color.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Horizontal Nav Styling"
	- var pageSubTitle = "Custom horizontal navigation styling options"
	- var description  = "The horizontal navigation styling options provides horizontal navigation customization such as border, shadow, position and color."
	- var activeMenu   = "horizontal-nav-styling"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Navbars"}, {name:"Navbar Styling"}])

//- Include page content in page block
append content
	include ../contents/horizontal-nav-styling.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript' ,src=app_assets_path + '/vendors/js/ui/prism.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs