//- =========================================================================================
	File Name: invoice-template.pug
	Description: Invoice Template
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Invoice Template"
	- var pageSubTitle = "Invoice template."
	//- var description  = ""
	- var activeMenu   = "invoice-template"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Invoice"}, {name:"Invoice Template"}])



//- Include page content in page block
append content
	include ../contents/invoice-template.html

//- Page CSS
//------------------------------
//- Add page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/invoice.css')