//- =========================================================================================
	File Name: jquery-ui-buttons-select.pug
	Description: jQuery UI buttons select
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================

extends template

block pageVars
	- var pageTitle = "jQuery UI buttons & select"
	- var pageSubTitle = "jQuery UI buttons & select examples"
	- var description = "Enhances standard form elements like buttons, inputs and anchors to themeable buttons with appropriate hover and active styles."
	- var activeMenu = "jquery-ui-buttons-select"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"jQuery UI"}, {name:"Buttons & Selects"}])



//- Include page content in page block
append content
	include ../contents/jquery-ui-buttons-select.html


//- Vendor CSS
//------------------------------
//- Add vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/jquery-ui.min.css')

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(src=app_assets_path + '/js/core/libraries/jquery_ui/jquery-ui.min.js', type='text/javascript')

//- Page CSS
//------------------------------
//- Add page specific CSS
append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/plugins/ui/jqueryui.css')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(src=app_assets_path + '/js/scripts/ui/jquery-ui/buttons-selects.js', type='text/javascript')