//- =========================================================================================
	File Name: layout-semi-dark.pug
	Description: The semi dark layout has semi dark version navbar, dark navigation & light 
				 footer.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Semi Dark Layout"
	- var pageSubTitle = "Semi dark template layout"
	- var description  = "The semi dark layout has semi dark version navbar, dark navigation & light footer."
	- var activeMenu   = "layout-semi-dark"



append pageConfig
	- var logoType = 'light'

append navbarConfig
	- var navbarColor = "navbar-semi-dark"
	- var navbarBrandCenter = false

append verticalMenuConfig
	- var menuColor = "menu-dark"
	
append footerConfig
	- var footerColor = "footer-light"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Page Layouts"}, {name:"Semi Dark Layout"}])

//- Include page content in page block
append content
	include ../contents/layout-semi-dark.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------

//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript' ,src=app_assets_path + '/vendors/js/ui/prism.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs