//- =========================================================================================
	File Name: layout-fixed.pug
	Description: Fixed layout page structure have fixed navbar, navigation and footer.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Fixed Layout"
	- var pageSubTitle = "Fixed navbar, navigation & Footer"
	- var description  = "The fixed layout page structure have fixed navbar, navigation and footer."
	- var activeMenu   = "layout-fixed"

append pageConfig

append navbarConfig
	- var navbarPosition = "fixed-top"
	- var navbarHideOnScroll = false

append verticalMenuConfig
	- var menuType = 'menu-fixed'

append horizontalMenuConfig
	- var horizontalMenuType = 'navbar-fixed'

append footerConfig
	- var footerType = "fixed-bottom"
	- var footerColor = "footer-dark"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Page Layouts"}, {name:"Fixed Layout"}])

//- Include page content in page block
append content
	include ../contents/layout-fixed.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript' ,src=app_assets_path + '/vendors/js/ui/prism.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs