//- =========================================================================================
	File Name: table-basic.pug
	Description: Bootstrap different basic tables example.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//
extends template

block pageVars
	- var pageTitle    = "Basic Tables"
	- var pageSubTitle = "Basic Bootstrap tables"
	- var description  = "Due to the widespread use of tables across third-party widgets, we’ve designed our tables to be opt-in. Just add the base class .table to any <table>, then extend with custom styles or our various included modifier classes."
	- var activeMenu   = "table-basic"



block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Tables"}, {name:"Basic Tables"}])



//- Include page content in page block
append content
	include ../contents/table-basic.html

append pagecss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/core/colors/palette-callout.css')