//- =========================================================================================
	File Name: vertical-nav-static.pug
	Description: The Static top navbar options used to make your navbar set to be static.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Static Navigation"
	- var pageSubTitle = "Vertical static navigation menu"
	- var description  = "The static navigation menu options use to set navigation menu position static."
	- var activeMenu   = "vertical-nav-static"



append verticalMenuConfig
	- var menuType = "menu-static"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Navigation"}, {name:"Static Navigation"}])

//- Include page content in page block
append content
	include ../contents/vertical-nav-static.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript' ,src=app_assets_path + '/vendors/js/ui/prism.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs