//- =========================================================================================
	File Name: vertical-nav-fixed.pug
	Description: The fixed navigation menu options use to set navigation menu position fixed.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Fixed Navigation"
	- var pageSubTitle = "Vertical fixed navigation menu"
	- var description  = "The fixed navigation menu options use to set navigation menu position fixed."
	- var activeMenu   = "vertical-nav-fixed"



append verticalMenuConfig
	- var menuType = 'menu-fixed'

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Navigation"}, {name:"Fixed Navigation"}])

//- Include page content in page block
append content
	include ../contents/vertical-nav-fixed.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss
	link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors/css/ui/prism.min.css')

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript' ,src=app_assets_path + '/vendors/js/ui/prism.min.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs