.customizer.border-left-blue-grey.border-left-lighten-4.d-none.d-xl-block
	a.customizer-close(href="#")
		i.ft-x.font-medium-3
	a.customizer-toggle.bg-danger.box-shadow-3(href="#")
		i.ft-settings.font-medium-3.spinner.white
	include ../contents/customizer-content.html