// BEGIN VENDOR JS
script(src='../../../app-assets/js/core/libraries/jquery.min.js', type='text/javascript')
script(src='../../../app-assets/vendors/js/ui/popper.min.js', type='text/javascript')
script(src='../../../app-assets/js/core/libraries/bootstrap.min.js', type='text/javascript')
script(src='../../../app-assets/vendors/js/ui/perfect-scrollbar.jquery.min.js', type='text/javascript')
script(src='../../../app-assets/vendors/js/ui/unison.min.js', type='text/javascript')
script(src='../../../app-assets/vendors/js/ui/blockUI.min.js', type='text/javascript')
script(src='../../../app-assets/vendors/js/ui/jquery-sliding-menu.js', type='text/javascript')
// BEGIN VENDOR JS

// BEGIN PAGE VENDOR JS
block vendorjs
// END PAGE VENDOR JS

//- BEGIN LIVE RELOAD TODO: Need to remove
//- script(src='http://localhost:35729/livereload.js', type='text/javascript')
//- END LIVE RELOAD

// BEGIN MODERN JS
script(src='../../../app-assets/js/core/app-menu.js', type='text/javascript')
script(src='../../../app-assets/js/core/app.js', type='text/javascript')
// END MODERN JS

// BEGIN PAGE LEVEL JS
block pagejs
// END PAGE LEVEL JS