.content-header-left.col-md-6.col-12.mb-2
  h3.content-header-title.mb-0 #{pageTitle}
  .row.breadcrumbs-top
    block breadcrumbs
      +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Page headers"}, {name:"Breadcrumbs with button"}])
.content-header-right.text-md-right.col-md-6.col-12
  .btn-group
    button.btn.btn-round.btn-info(type='button')
      i.icon-cog3
      |  Settings