//- =========================================================================================
	File Name: layout-content-detached-left-sticky-sidebar.pug
	Description: The content detached left sticky sidebar layout with navigation, content area and detched left sticky sidebar.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent 
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Detached Left Sticky Sidebar"
	- var pageSubTitle = "content layoutDetached left sticky sidebar"
	- var description  = "The content detached left sticky sidebar layout with navigation, content area and detched left sticky sidebar."
	- var activeMenu   = "content-detached-left-sticky-sidebar"



append pageConfig
	- var headerType = 'sk-header'
	- var contentLayout = 'content-detached-left-sidebar'
	- var sidebarSticky = true
	- var starterKit    = true

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Starters Kit"}, {name:"Content detached left sticky sidebar"}])

//- include  page content
append content
	include ../../contents/starter-kit/starter-page-content.html

//- include  page sidebar
append sidebar
	include ../../contents/starter-kit/sk-sidebar-common.html

//- Vendor CSS
//------------------------------
//- Add Vendor specific CSS
append vendorcss

//- Page CSS
//------------------------------

//- Add custom page specific CSS
append pagecss

//- Vendor JS
//------------------------------
//- Add vendor specific JS
append vendorjs
	script(type='text/javascript', src=app_assets_path + '/vendors/js/ui/jquery.sticky.js')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
	script(type='text/javascript', src=app_assets_path + '/js/scripts/pages/sk-content-sidebar.js')
