//- =========================================================================================
	File Name: layout-dark.pug
	Description: The dark layout has dark version navbar, navigation & footer.
	----------------------------------------------------------------------------------------
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent 
	==========================================================================================-//

extends template

block pageVars
	- var pageTitle    = "Dark Layout"
	- var pageSubTitle = "Dark template layout"
	- var description  = "The dark layout has dark version navbar, navigation & footer."
	- var activeMenu   = "dark"



append pageConfig
	- var headerType = 'sk-header'
	- var logoType = "light"
	- var navbarFixed = true
	- var starterKit  = true

append navbarConfig
	- var navbarColor = "navbar-dark"

append verticalMenuConfig
	- var menuColor = "menu-dark"

append horizontalMenuConfig
	- var horizontalMenuColor = "navbar-dark"

append footerConfig
	- var footerColor = "footer-dark"

block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Starters Kit"}, {name:"Dark Layout"}])

//- Include page content in page block
append content
	include ../../contents/starter-kit/starter-page-content.html