.main-menu-footer.footer-close
    .header.text-center
      a.col-12.footer-toggle(href='#')
        i.icon-ios-arrow-up
    .content
      .insights
        .col-12
          p Product Delivery
          progress.progress.progress-xs.progress-success(value='25', max='100') 25%
        .col-12
          p Targeted Sales
          progress.progress.progress-xs.progress-info(value='70', max='100') 70%
      .actions
        a(href='javascript: void(0);', data-placement='top', data-toggle='tooltip', data-original-title='Settings')
          span.icon-cog3(aria-hidden='true')
        a(href='javascript: void(0);', data-placement='top', data-toggle='tooltip', data-original-title='Lock')
          span.la.la-lock(aria-hidden='true')
        a(href='javascript: void(0);', data-placement='top', data-toggle='tooltip', data-original-title='Logout')
          span.icon-power3(aria-hidden='true')